h1 {
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  font-size: 60px;
  color: #00A79D
}

span {
  color: #6D6E71
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.hero {
  height: 260px;
  background: #E5F3F2;
  text-align: center;
  padding: 30px;
}

input {
  font-size: 25px;
  color: rgb(200, 200, 200);
  width: 50%;
  margin: 10px;
  outline: none;
}

.save-btn {
  color: #FFFFFF;
  background-color: #00A79D;
  font-size: 20px;
  border:none;
  height: 30px;
}

.save-btn:hover {
  background-color: #045E55
}

.list {
  height: 1000px;
  padding: 30px;
}

ul {
  width: 50%;
  margin: auto;
}

li {
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid #D1D3D4;
  padding: 25px;
}

.title {
  font-size: 30px;
}



.icon {
  length: 30px;
  width: 30px;
}

.delete-icon:hover {
  background-image: url('images/delete-hover.svg');
  length: 30px;
  width: 30px;
}

@media screen and (max-width: 600px){
  .body-input {
    height: 90px;
    margin: top;
  }
  .hero {
    height: 300px;
  }
}
