h1 {
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  font-size: 60px;
  color: #00A79D
}

span {
  color: #6D6E71
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.hero {
  height: 260px;
  background: #E5F3F2;
  text-align: center;
  padding: 30px;
}

input {
  font-size: 25px;
  color: gray;
  width: 50%;
  margin: 10px;
}

.save-btn {
  color: #FFFFFF;
  background-color: #00A79D;
  font-size: 20px;
  border:none;
  height: 30px;
}

.save-btn:hover {
  background-color: #045E55
}

.list {
  height: 1000px;
  padding: 30px;
}

ul {
  border-bottom: 1px solid #D1D3D4;
  width: 400px;
  margin: auto;
}

@media screen and (max-width: 600px){
  .body-input {
    height: 90px;
    margin: top;
  }
  .hero {
    height: 300px;
  }
}
